
<style>

body {
  background-image: url({{url_for('static',filename='img/back.png')}});
  background-repeat:no-repeat;
  background-size:100% 100vh;
}

stepd{
  position:absolute;
  left:128px;
  top:300px;
}
</style>



<head>
<link rel="shortcut icon" href="{{ url_for('static',filename='img/pokeball.ico')}}">
</head>
<title>Pokemon Trading</Title>
<form method = "post">
<stepd>

<input id="username" name = "user" type = "text" style="font-size:20pt;height:50px;left:100px" placeholder="Enter name">
</stepd>
</form>
<body>

</body>
